<%= form_for(carrera) do |f| %>


    <div class="container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">

  <div class="control-group<%= @carrera.errors[:name].any? ? " error" : "" %>">
    <h4  class="text-success"><b>Carrera (*)</b></h4>
      <div class="controls">
        <%= f.text_field :name, :class => 'form-control input-sm', :maxlength => "100", :placeholder => "Ingrese carrera porfavor" %>
        <%#Obtener solo el mensaje con la expresion regular /\w([^]*)/%>
        <span class="help-inline">
      <h4 class="text-danger"><%= @carrera.errors[:name].any? ? @carrera.errors[:name].to_s[/\w([^"]*)/] : "" %></h4></span>
      </div>
  </div>

</div>
</div>
</div>

<center><%= f.submit yield(:button_text), class: "btn btn-primary" %></center>

<% end %>
